.sd-image {
    margin-top: 32px;
  }

.container {
  --primary: #5D7861;
  --primary-light: rgba(26, 183, 250, 0.1);
  --secondary: #5D7861;
  --background: #ECE0D0;
  --background-dim: #ECE0D0;
  --background-dim-light: #b9afa1;
  --foreground: #5D7861;
}

